.app-box.horizontal {
  display: flex;
}

.app-box-img {
  border-radius: 20%;
  overflow: hidden;
}
.app-box.circle-icon .app-box-img {
  border-radius: 50%;
}
.app-box.horizontal .app-box-img {
  width: 70px;
  height: 70px;
}

.app-box-img img {
  display: block;
  max-width: 100%;
}

.app-box.horizontal .app-box-details {
  width: calc(100% - 95px);
  overflow: hidden;
  margin: 0 10px;
}

.app-box-name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.app-box.vertical .app-box-name {
  margin-top: 10px;
  display: -webkit-box;
  font-size: 12px;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 16px;
  max-height: 32px;   
}
.app-box.horizontal .app-box-name {
  font-size: 16px;
  margin: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.app-box-category {
  color: #959696;
  font-size: 12px;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 8px;
}

.rating-box {
  display: flex;
  margin-top: 10px;
}

.rating-box-star {
  width: 60px;
}

.rating-box-count {
  font-size: 10px;
  color: #767675;
  margin-left: 5px;
}
