.top-list {
  position: relative;
  margin-bottom: 50px;
}

.top-list:after {
  content: "";
  background: #B7B7B7;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  transform: scaleY(0.5);
}

ul.top-app-list {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

ul.top-app-list li {
  padding: 10px 0 10px 30px;
  position: relative;
}

ul.top-app-list li:before {
  content: attr(data-rank);
  display: block;
  position: absolute;
  right: calc(100% - 15px);
  top: 50%;
  color: #7E7D7D;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin-top: -15px;
}

ul.top-app-list li:after {
  content: "";
  background: #B7B7B7;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  transform: scaleY(0.5);
}
ul.top-app-list li:last-child:after {
  display: none;
}

.top-list-placeholder {
  height: 100vw;
}

.top-list-error-text {
  font-size: 20px;
  line-height: 100vw;
  text-align: center;
  font-weight: bold;
  color: #9c9c9c;
}
