.top-list {
  border-bottom: 1px solid #B7B7B7;
}

ul.top-app-list {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

ul.top-app-list li {
  border-bottom: 1px solid #B7B7B7;
  padding: 10px 0 10px 20px;
  position: relative;
}
ul.top-app-list li:last-child {
  border-bottom: none;
}

ul.top-app-list li:after {
  content: attr(data-rank);
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  color: #7E7D7D;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin-top: -15px;
}
